* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-inline: 20px;
  min-height: 100vh;
  background: linear-gradient(-45deg, #1e3c72, #2a5298, #1e3c72, #0f2027);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 100%;
  position: relative;
}
.container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
h1 {
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}
.inputData {
  padding: 5px 5px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.863);
  text-align: center;
  font-size: 18px;
}
.arithmetic {
  padding: 5px 5px;
  width: 90%;
  font-size: 18px;
}
.generate {
  padding: 5px 0px;
  width: 90%;
  border-radius: 5px;
  border: none;
  background-color: crimson;
  font-size: 18px;
}
.showAnswer {
  position: absolute;
  top: 100%;
  left: 0%;
}
input,
select,
button {
  margin: 5px;
  padding: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
td,
th {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
  text-align: center;
  font-weight: 500;
}
@media (min-width: 768px) {
  .container-2 {
    grid-template-columns: repeat(4, 1fr);
  }
  .inputData {
    padding: 10px 0px 10px 0px;
    width: 100%;
  }
  .arithmetic {
    padding: 5px 5px;
    width: 90%;
    font-size: 24px;
  }
  .generate {
    font-size: 24px;
  }
  .showAnswer {
    position: absolute;
    left: 10%;
  }
}
